.emblac {
  max-width: 60rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
.embla__viewportc {
  overflow: hidden;
}
.embla__containerc {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slidec {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
.embla__slide__numberc {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
@media only screen and (max-width: 480px) {
  .emblac {
    max-width: 20rem;
    margin: auto;
    --slide-height: 25rem;
    --slide-spacing: 1.5rem;
    --slide-size: 100%;
  }
  .embla__viewportc {
    overflow: hidden;
  }
  .embla__containerc {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing));
  }
}
